In [21]:
a=5
print(a,"is a type of",type(a))

5 is a type of <class 'int'>

In [22]:
a="abc"
print(a,"is a type of",type(a))

abc is a type of <class 'str'>

In [23]:
a=2.0
print(a,"is a type of",type(a))

2.0 is a type of <class 'float'>

In [24]:
a=1+2j
print(a,"is a complex number ?",isinstance(1+2j,complex))

(1+2j) is a complex number ? True

In [25]:
a=[1,a,'python']
print(a,"Data type",type(a))

[1, (1+2j), 'python'] Data type <class 'list'>

In [26]:
# Slicing operator
a=[1,2,3,4,5,6,11,13,12,14]
print(a)
print(a[2])
print(a[0:5])
print(a[5:])
print("Data type",type(a))

[1, 2, 3, 4, 5, 6, 11, 13, 12, 14]
3
[1, 2, 3, 4, 5]
[6, 11, 13, 12, 14]
Data type <class 'list'>

In [32]:
# python Tuples:
b=(5,'program',1+3j)
print(b)
print(b[1])
b[0]=10

(5, 'program', (1+3j))
program

TypeError: ignored

In [37]:
#python Set:
c={1,2,3,4,5,6,7,8}
print("Data type",type(c))
d={1,2,3,3,4,4,4}
print("d: ",d)

Data type <class 'set'>
d:  {1, 2, 3, 4}

In [40]:
#python dictionary
e={1:"value",2:'key'}
print("e",e)
type(e)

e {1: 'value', 2: 'key'}

dict