In [1]:
fruits=["anand","Mohan","tripathy"]
for x in fruits:
  print(x)

anand
Mohan
tripathy

In [2]:
for x in "banana":
  print(x)

b
a
n
a
n
a

**Python Conditions and If statements
Python supports the usual logical conditions from mathematics:**

Equals: a == b 

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops. An "if statement" is written by using the if keyword.

In [3]:
a=20
b=30
if a>=b:
  print("b is greater than a")
else:
  print("a is greater tha b")

a is greater tha b

In [4]:
a=31
b=30
if a>=b:
  print("b is greater than a")
else:
  print("a is greater tha b")

b is greater than a

In [5]:
a=int(input())
b=int(input())
if a>b:
  print("a is greater than b")
elif a==b:
  print("a is equal to b")
else:
  print("b is greater than a")

20
10
a is greater than b

# ***Short Hand If..else*** 

If you have only one statement to execute, you can put it on the same line as the if statement.

In [6]:
if a>b: print("a is greater to b")

a is greater to b

In [7]:
a= 2222
b=2222
print("A") if a>=b else print("B")

A

In [8]:
a= 200
b=20
c=500
if a>b and c>a:
  print("both the condition is true")

both the condition is true

## **Or**
The or keyword is a logical operator, and is used to combine conditional statements:

In [9]:
a=300
b=200
c=50
if a>b or c>a:
  print("At least one of the conditions is True")

At least one of the conditions is True

# **Nested If**
You can have if statements inside if statements, this is called nested if statements.

In [10]:
x=11

if x>10:
  print("above ten,")
  if x >20:
    print("and also above 20!")
  else:
    print("but not above 20.")

above ten,
but not above 20.

In [11]:
a=200
b=300

if b>a:
  pass

In [12]:
a=5
b=10
if a>b:
  print("Hello world")
else:
  print("a is smaller than b")

a is smaller than b

# **For Loops** 

Python has two primitive loop commands:

while loops

*   While Loops
*   For Loops

In [13]:
x=['ANAND',65,25,2.3]
for i in x:
  if (i == 65) and (type(i)==int):
      print("True")
      break
  else:
    print("flase")

flase
True

In [14]:
x="Anand"
for i in x:
  print(i)

A
n
a
n
d

In [15]:
for i in "Anand":
  print(i)

A
n
a
n
d