In [6]:
class employee():
  def __init__(self,name,age,salary,id):
    self.name=name
    self.age=age
    self.salary=salary
    self.id=id
emp1=employee("Anand",25,20000,1)
emp2=employee("Mohan",26,10000,2)
print(emp1.__dict__)
print(emp2.__dict__)

{'name': 'Anand', 'age': 25, 'salary': 20000, 'id': 1}
{'name': 'Mohan', 'age': 26, 'salary': 10000, 'id': 2}

In [10]:
# Single Inheritance:
class employe():
  def __init__(self,Name,age,salary):
    self.name=Name
    self.age=age
    self.salary=salary
class child_employee(employe):
  def __init__(self,Name,age,salary,id):
      self.Name=Name
      self.age=age
      self.salary=salary
      self.id=id
emp3=employe("Tripathy",27,20000)

print(emp3.age)
print(emp3.__dict__)

27
{'name': 'Tripathy', 'age': 27, 'salary': 20000}

In [ ]:
#multilevel Inheritance: