In [ ]:
class employee():
  def __init__(self,name,age,salary,id):
    self.name=name
    self.age=age
    self.salary=salary
    self.id=id
emp1=employee("Anand",25,20000,1)
emp2=employee("Mohan",26,10000,2)
print(emp1.__dict__)
print(emp2.__dict__)

{'name': 'Anand', 'age': 25, 'salary': 20000, 'id': 1}
{'name': 'Mohan', 'age': 26, 'salary': 10000, 'id': 2}

In [ ]:
# Single Inheritance:
class employe():
  def __init__(self,Name,age,salary):
    self.name=Name
    self.age=age
    self.salary=salary
class child_employee(employe):
  def __init__(self,Name,age,salary,id):
      self.Name=Name
      self.age=age
      self.salary=salary
      self.id=id
emp3=employe("Tripathy",27,20000)

print(emp3.age)
print(emp3.__dict__)

27
{'name': 'Tripathy', 'age': 27, 'salary': 20000}

In [ ]:
#multilevel Inheritance:
class emp():
  def __init__(self,Name,age,salary):
    self.Name=Name
    self.age=age
    self.salary=salary
class employee(emp):
  def __init__(self,Name,age,salary):
    self.Name=Name
    self.age=age
    self.salary=salary
class third_employe(employee):
  def __init__(self,Name,age,salary):
    self.Name=Name
    self.age=age
    self.salary=salary
empl1=third_employe("ABC",32,100)
empl2=employee("DEF",12,123)

print(empl1.__dict__)
print(empl2.__dict__)
print(empl1.age)
print(empl2.salary)

{'Name': 'ABC', 'age': 32, 'salary': 100}
{'Name': 'DEF', 'age': 12, 'salary': 123}
32
123

In [ ]:
#Hierarchical Inheritance:
class emp():
  def __init__(self,Name,age,salary):
    self.Name=Name
    self.age=age
    self.salary=salary
class emppl(emp):
  def __init__(self,Name,age,salary):
    self.Name=Name
    self.age=age
    self.salary=salary
class empppl(emp):
  def __init__(self,Name,age,salary,id):
    self.Name=Name
    self.age=age
    self.salary=salary
    self.id=id

em=emppl("Anand",12,123)
em=empppl("Mohan",123,1234,1)

print(emppl.__dict__)
print(emppl.__dict__)

{'__module__': '__main__', '__init__': <function emppl.__init__ at 0x7fc81f609a70>, '__doc__': None}
{'__module__': '__main__', '__init__': <function emppl.__init__ at 0x7fc81f609a70>, '__doc__': None}